<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" class="default-style layout-navbar-fixed">
<head th:replace="layout::head"></head>
<body>
<div class="page-loader">
    <div class="bg-primary"></div>
</div>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-2">
    <!-- Layout inner -->
    <div class="layout-inner">
        <!-- Layout sidenav -->
        <div th:replace="layout::side"></div>
        <!-- / Layout sidenav -->
        <!-- Layout container -->
        <div class="layout-container">
            <!-- Layout navbar -->
            <nav th:replace="layout::navbar"></nav>
            <!-- / Layout navbar -->
            <!-- Layout content -->
            <div class="layout-content">
                <!-- Content -->
                <div class="container-fluid flex-grow-1 container-p-y">

                    <div class="card mb-4">
                        <h6 class="card-header"><i class="ion ion-md-clipboard"></i> 발신번호 인증하기</h6>
                        <div class="card-body">
                            <form class="form-horizontal" id="auth-form" name="form_chk" th:object="${sendPhone}" method="post">
                                <input type="hidden" th:field="*{id}">
                                <input type="hidden" th:field="*{status}">
                                <input type="hidden" name="m" value="checkplusService">
                                <input type="hidden" name="EncodeData" th:value="${sEncDate}">
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-2 text-sm-right">발신번호</label>
                                    <div class="col-sm-10">
                                        <label class="col-form-label col-sm-2" th:text="*{phone}"></label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-2 text-sm-right">인증수단</label>
                                    <div class="col-sm-2">
                                        <label class="custom-control custom-radio mt-2">
                                            <input type="radio" name="regMethod" class="custom-control-input"
                                                   value="MOBILE" checked="checked"/>
                                            <span class="custom-control-label">휴대폰 본인인증</span>
                                        </label>
                                        <label class="custom-control custom-radio mt-1">
                                            <input type="radio" name="regMethod" class="custom-control-input"
                                                   value="PAPER"/>
                                            <span class="custom-control-label">서류 인증</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row" id="div-paper" style="display: none">
                                    <label class="col-form-label col-sm-2 text-sm-right">인증서류</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-10 ml-sm-auto">
                                        <button class="btn btn-success" id="btn-auth">인증하기</button>
                                        <p th:if="${not #strings.isEmpty(message)}" th:errors="${message}" style="color: red">에러</p>
                                        <a class="btn btn-info" th:href="@{/user/message/phone/list}">목록</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- / Content -->
                <!-- Layout footer -->
                <nav th:replace="layout::footer"></nav>
                <!-- / Layout footer -->
            </div>
            <!-- Layout content -->
        </div>
        <!-- / Layout container -->
    </div>
    <!-- Layout inner -->
    <div class="layout-overlay layout-sidenav-toggle"></div>
</div>
<!-- / Layout wrapper -->
<script>
    window.name = "Parent_window";

    function fnPopup() {
        window.open('', 'popupChk', 'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
        document.form_chk.action = "https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb";
        document.form_chk.target = "popupChk";
        document.form_chk.submit();
    }
    $(function() {
        let method = $("input[name=regMethod]").val();
        $("input[name=regMethod]").click(function (event) {
            method = $(this).val();
            if (method == "MOBILE")
                $("#div-paper").hide();
            else
                $("#div-paper").show();
        })

        $("#btn-auth").click(function (event) {
            event.preventDefault();
            if (method == "MOBILE") {
                $("#auth-form").attr("action", "");
                //$("#auth-form").attr("enctype", "");
                $("#auth-form").attr("target", "popupChk");
                fnPopup();
            }
            else {
                $("#auth-form").attr("action", "/user/message/phone/auth");
                //$("#auth-form").attr("enctype", "multipart/form-data");
                $("#auth-form").attr("target", "");
                $("#auth-form").submit();
            }
        })
    })
</script>
</body>
</html>