<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>Namo Message Service</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/bootstrap-material.css">
    <link rel="stylesheet" href="/css/appwork-material.css">
    <link rel="stylesheet" href="/css/colors-material.css">
    <link rel="stylesheet" href="/css/theme-corporate-material.css">
    <link rel="stylesheet" href="/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="/css/uikit.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/css/man.css">

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/material-ripple.js"></script>
    <script src="/js/layout-helpers.js"></script>
    <script src="/js/pace.js"></script>
    <script src="/js/sidenav.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/perfect-scrollbar.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/bootstrap-datepicker.ko.min.js"></script>
    <script src="/js/jquery.dotdotdot.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/common-datepicker.js"></script>
</head>
<body>
<div class="page-loader">
    <div class="bg-primary"></div>
</div>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-2">
    <!-- Layout inner -->
    <div class="layout-inner">
        <!-- Layout sidenav -->
        <div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-sidenav-theme" th:fragment="side">
            <div class="app-brand man">
                <a href="/" class="app-brand-text man sidenav-text font-weight-normal ml-2">NMMessage</a>
                <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
                    <i class="ion ion-md-menu align-middle"></i>
                </a>
            </div>

            <div class="sidenav-divider mt-0"></div>

            <ul class="sidenav-inner py-1">
                <li class="sidenav-item open" sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"> <i
                            class="sidenav-icon ion ion-ios-albums"></i>
                        <div>관리</div>
                    </a>
                    <ul class="sidenav-menu">
                        <li class="sidenav-item">
                            <a th:href="@{/admin/account}" class="sidenav-link menu-list">
                                <div>사용자 관리</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a th:href="@{/admin/role}" class="sidenav-link menu-list">
                                <div>권한 관리</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a th:href="@{/admin/resource}" class="sidenav-link menu-list">
                                <div>리소스 관리</div>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- 게시판 -->
                <li class="sidenav-item open">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <i class="sidenav-icon ion ion-ios-albums"></i>
                        <div>문자</div>
                    </a>
                    <ul class="sidenav-menu">
                        <li class="sidenav-item" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">
                            <a th:href="@{/user/message/list}" class="sidenav-link">
                                <div>발송 내역</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a th:href="@{/user/message/send}" class="sidenav-link">
                                <div>문자 발송</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a th:href="@{/user/message/phone/list}" class="sidenav-link">
                                <div>발신번호 사전등록</div>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>

        <!-- / Layout sidenav -->
        <!-- Layout container -->
        <div class="layout-container">
            <!-- Layout navbar -->
            <nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-white container-p-x"
                 id="layout-navbar" th:fragment="navbar">

                <a href="/man.jsp" class="navbar-brand app-brand man d-lg-none py-0 mr-4">
                    <span class="app-brand-text man font-weight-normal ml-2">NMMessage</span>
                </a>

                <div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center mr-auto">
                    <a class="nav-item nav-link px-0 mr-lg-4" href="javascript:void(0)">
                        <i class="ion ion-md-menu text-large align-middle"></i>
                    </a>
                </div>
                <div class="navbar-collapse collapse" id="layout-navbar-collapse">
                    <!-- Divider -->
                    <hr class="d-lg-none w-100 my-2">
                    <div class="navbar-nav align-items-lg-center ml-auto">
                        <div class="man-navbar-user nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" sec:authorize="isAuthenticated()">
                              <span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
                                <span class="px-1 mr-lg-2 ml-2 ml-lg-0" sec:authentication="principal.username">홍길동</span>
                              </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
<!--                                <a href="#" class="dropdown-item">-->
<!--                                    <i class="ion ion-ios-person text-lightest"></i> &nbsp; 회원정보</a>-->
<!--                                <a href="#" class="dropdown-item">-->
<!--                                    <i class="ion ion-md-lock text-lightest"></i> &nbsp; 비빌번호-->
<!--                                </a>-->
<!--                                <div class="dropdown-divider"></div>-->
                                <a th:href="@{/logout}" class="dropdown-item">
                                    <i class="ion ion-ios-log-out text-danger"></i> &nbsp; 로그아웃</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- / Layout navbar -->
            <!-- Layout content -->
            <div class="layout-content">
                <!-- Content -->
                <div class="container-fluid flex-grow-1 container-p-y">

                </div>
                <!-- / Content -->
                <!-- Layout footer -->
                <nav class="layout-footer footer bg-footer-theme" th:fragment="footer">
                    <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
                        <div class="pt-3">
                            <span class="footer-text font-weight-bolder">(주)나모, 대표 : 김남호, 사업자번호 : 221-81-40141, 연락처 : 033-263-6430</span>
                        </div>
                    </div>
                </nav>

                <!-- / Layout footer -->
            </div>
            <!-- Layout content -->
        </div>
        <!-- / Layout container -->
    </div>
    <!-- Layout inner -->
    <div class="layout-overlay layout-sidenav-toggle"></div>
</div>
<!-- / Layout wrapper -->
</body>
</html>